<!doctype html>
<html>
  <head>
  </head>

  <body>
    <div id="app1">
      {{message}}
    </div>

    <div id="app2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <div id="app3">
      <span v-if="isSeen">
        Now you can see me.
      </span>
    </div>

    <div id="app4">
      <ol>
        <li v-for="item in todos">
          {{item}}
        </li>
      </ol>
    </div>

    <div id="app5">
      <p>
        {{message}}
      </p>

      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app6">
      <p>
        {{message}}
      </p>

      <input v-model="message" />
    </div>

    <div id="app7">
      {{message}}
      <ol>
        <todo-item
          v-for="todo in todos"
          v-bind:todo="todo"
          v-bind:key="todo.text"
          >
        </todo-item>
      </ol>
    </div>

    <div id="app8">
      <p>Using mustaches: {{ rawHtml }}</p>
      <p>Using v-html directive: <span v-html="rawHtml"></span></p>

      <button v-bind:disabled="isButtonDisabled">A Button</button>

      <a v-on:click="clickHandler">{{clickMessage}}</a>

      <p>Original message: {{message}}</p>
      <p>Reversed message: {{reverseMessage}}</p>
      <p>{{tip}}</p>

      <div>{{fullName}}</div>
    </div>

    <div id="app9">
      <p>
        Ask a yes/no question:
        <input v-model="question">
      </p>

      <p>{{answer}}</p>
    </div>

    <div id="app10">
      Please input your question ends with a question mark:
      <div>
        <input v-model="question" />
      </div>

      <div>{{answer}}</div>
    </div>

<style>
  .active {
    color: blue;
  }
  .blockDisplay {
    width: 100px;
    height: 100px;
    display: block;
    background: green;
  }
  .has_error {
    color: red;
  }
</style>

    <div id="app11">
      <span :class="classObject">Color</span>
    </div>

    <div id="app12">
      <span :class="[isActive, hasError]">Color</span>
    </div>

    <div id="app13">
      <component_1 :class="hasError">Component_1</component_1>
    </div>

    <div id="app14">
      <div :style="[styleObject, display]">Style Object</div>
    </div>

    <!-- Conditional Rendering -->
    <div id="app15">
      <div v-if="isDisplay">
        You can see me.
      </div>
      <div v-else>
        You cannot see me.
      </div>

      <template v-if="isDisplay">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>

      <template v-if="loginType === 'user_name'">
        <label>User Name: </label>
        <input placeholder="Enter your username" key="user_name_input"/>
      </template>
      <template v-else>
        <label>Email: </label>
        <input placeholder="Enter your Email" key="email_input"/>
      </template>

      <div>
        <button @click="toggleLoginType">Toggle login type</button>
      </div>
    </div>

<style>
.divider {
  height: 10px;
  background: blue;
  line-height: 10px;
  margin: 5px 0px;
}
</style>

    <div id="app16">
      <ol>
        <li v-for="(item, index) of items">
          {{item + ' - ' + index}}
        </li>
      </ol>

      <ul>
        <li v-for="(value, key, index) of itemsObj">
          {{ index + ' - ' + key + ' - ' + value }}
        </li>
      </ul>

      <ul>
        <li v-for="n in evenNumbers">{{n}}</li>
      </ul>

      <ol>
        <li v-for="n in oddNumbers(numbers)">{{n}}</li>
      </ol>

      <ol>
        <template v-for="n in 5">
          <li>{{n}}</li>
          <li class="divider"></li>
        </template>
      </ol>
    </div>

    <div id="app17">
      <ol>
        <li v-for="todo in todos" v-if="!todo.completed">
          {{ todo.text }}
        </li>
      </ol>

      <ol v-if="todos.length">
        <li v-for="todo in todos" v-if="!todo.completed">
          {{ todo.text }}
        </li>
      </ol>
      <ol v-else>
      </ol>

      <component_17
        v-for="(item, index) in items"
        :key="index"
        :item="item"
        >
        {{item}}
      </component_17>
    </div>

    <div id="app18">
      <div>
        <div>
          <input type="text" placeholder="Add a todo"
            v-model="todo_input"
            @keyup.enter="addTodo"
          >
        </div>

        <ol>
          <li v-for="(todo, index) in todos">
            {{todo.text}}
            <button @click="clearATodo(index)">X</button>
          </li>
        </ol>
      </div>
    </div>

    <div id="app19">
      <div>
        <div>
          <input type="text"
            :placeholder="placeholder"
            v-model="newTodo"
            @keyup.enter="addTodo"
            >
        </div>

        <ul>
          <li is="component_19"
              v-for="(todo, index) in todos"
            :title="todo.title"
            :key="todo.id"
            @remove="remove(index)"
          >
          </li>
        </ul>
      </div>
    </div>

    <div id="app20">
      <button @click="addCounter()">Add 1</button>
      <p>
        The button above has been clicked {{ counter }} times.
      </p>

      <button @click="warn('Form cannot be submitted yet.', $event)">
        Submit
      </button>
    </div>

<style>
  .pre-line {
    white-space: pre-line;
  }
</style>

    <div id="app21">
      <span>Multiline message is: </span>
      <p class="pre-line">{{message}}</p>
      <textarea v-model="message"></textarea>

      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{checked}}</label>

      <div>{{ input_value }}</div>
      <input :value="input_value" />
    </div>

    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/axios/dist/axios.js"></script>
    <script src="../../node_modules/lodash/lodash.js"></script>
    <script src="../scripts/index.js"></script>
  </body>
</html>
